<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Наверх</a>
    </p>
    <p class="mb-1">Twins &copy - сервис коротких историй от пользователей.</p>
    <p class="mb-0">Автор: <a href="https://rivizoft.ru" target="_blank">Кирилл Ширяев</a></p>
  </div>
</footer>