{{>navbar }}

<!-- Kirill -->

<style>
   body {
        background: linear-gradient(89deg, #ed0ff6, #17e1ff);
        background-size: 400% 400%;

        -webkit-animation: AnimationName 20s ease infinite;
        -moz-animation: AnimationName 20s ease infinite;
        -o-animation: AnimationName 20s ease infinite;
        animation: AnimationName 20s ease infinite;
    }

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 32%}
        50%{background-position:100% 69%}
        100%{background-position:0% 32%}
    }

    @-moz-keyframes AnimationName {
        0%{background-position:0% 32%}
        50%{background-position:100% 69%}
        100%{background-position:0% 32%}
    }

    @-o-keyframes AnimationName {
        0%{background-position:0% 32%}
        50%{background-position:100% 69%}
        100%{background-position:0% 32%}
    }

    @keyframes AnimationName {
        0%{background-position:0% 32%}
        50%{background-position:100% 69%}
        100%{background-position:0% 32%}
    }

    .all-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div class="container all-center">
  <h1 class="mt-3 mb-3 text-white font-weight-light">Что же такое Twins? Это —</h1>
  <div class="mt-3 lead text-white">
        <p>
            не просто истории, это короткие рассказы, которые ты можешь читать в любой ситуации:<br>
            пока пытаешься уснуть, пока сидишь у стоматолога, пока едешь в школу, идешь в универ, пока ждешь девушку у примерочной<br>
            и еще тысяча ситуаций, в которых истории обычных людей будут тебя вдохновлять и веселить!<br>
            Присоединяйся к сообществу Twins и пиши свои истории.<br>
            Автор — <a class="link-light" href="https://rivizoft.ru" target="_blank">Кирилл</a>
        </p>
  </div>
</div>